/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Navigation */
nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 70px;
  align-items: center;
  background: #242526;
  display: inline-flex;
  list-style-type: none;
}

.nav-link-inactive {
  font-weight: 500;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  padding: 9px 15px;
  border-radius: 10px;
}

.nav-link-active {
  font-weight: 800;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  padding: 9px 15px;
  border-radius: 10px;
}

nav a:hover {
  background: #3A3B3C;
}

/* Header */
header {
  position: fixed;
  z-index: 998;
  width: 100%;
  padding-top: 85px;
  background-color: white;
  padding-left: 15px;
  padding-bottom: 30px;
}

/* Grocery Table */
table {
  border-collapse: collapse;
}

#table-container {
  overflow-y: auto;
  padding-top: 150px;
  line-height: 1.3;
}

#table-container td{
  padding-top: 6px;
  padding-bottom: 6px;
}

#fixedHeader {
  position: fixed;
  z-index: 997;
  line-height: 2;
  background-color: #ffffff;
  width: 100%;
}

#groceries {
  position: absolute;
  padding-top: 30px;
}

#groceries tr:nth-child(even) {
  background-color: #ffffff;
}

#groceries tr:nth-child(odd) {
  background-color: #cfcfcf;
}

.product {
  width: 300px;
  text-align: left;
  padding-left: 15px;
}

.price {
  width: 65px;
  text-align: right;
}

.amount {
  width: 100px;  
  text-align: center;
}

.subtotal {
  width: 65px;
  text-align: right;
}

.remove {
  width: 80px;
  text-align: center;
}

#totalCost {
  font-weight: bold;
  text-align: right;
}

/*New Entry Form*/
#newEntry {
  padding-top: 155px;
  padding-left: 15px;
  line-height: 1.5;
}

.inputBoxes {
  position: absolute;
  left: 80px;
  z-index: 996;
}

#submitButton {
  margin: 10px 80px;
  padding: 5px;
}

#product-added {
  padding-left: 15px;
  font-size: 16px;
  font-style: italic;
}

#errors {
  color: red;
  padding-top: 150px;
  padding-left: 255px;
  float: right;
  position: fixed;
  line-height: 2.1;
  font-size: 12px;
}

.error-messages {
  height: 15px;
}